@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .text-gray{
    color: #424242;
  }
.text-light-gray{
    color: #727272;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
  .display-flex{
    display: flex;
  }
  .navbar{
    justify-content: space-between;
    align-items: center;
  }
  .nav-item{
    list-style: none;
    margin-right: 30px;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
  }
  .navber,.banner{
    max-width: 1440px;
    margin:0 auto;
  }
  .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
  }
  .banner-title{
    font-weight: 700;
    font-size: 4rem;
  }
  .btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    
  }
  main{
    max-width: 1440px;
    margin: 0 auto;
  }
main>section{
  margin-top: 130px;
}
  .banner-img{
    width: 100%;
  }

.teams{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  
}
.team-img-container{
  gap: 50px;
}
.our-features{
  margin-left: 130px;
  max-width: 530px;
}
  @media screen and(max-width:576px) {
    .navbar,.nav-links{
      flex-direction: column;
    }
  }
  .feature-title{
    font-size: 2.8rem;
    font-weight: 700;
  }
  #quick-list{
    font-weight: 500;
  }
  .text-primary{
    color: #FF900E;
  }